<html>
    <head>
        <title>Hello!</title>
        <style>
.yellow-block {
    background-color: yellow;
    background: linear-gradient(red, yellow);
    display:block;
    height:50px;
    width:200px;
    margin-bottom:20px;
    margin-left:20px;
}
.blue-inline {
    display:inline;
    background-color: blue;
}
        </style>
    </head>

    <body>
        <div class="yellow-block" id="y1">Sup BigRedHacks!</div>

        <div class="blue-inline" id="b1">inline</div>
        <div class="blue-inline" id="b2">tags</div>

        <div class="yellow-block" id="y2">
            <div class="blue-inline" id="b3">inline</div>
            <div class="blue-inline" id="b4">tags</div>
        </div>

    </body>
</html>
