<html>
    <head>
        <title>Hello!</title>
        <style>
.yellow-block {
    display:block;
    background: linear-gradient(red, yellow);
    background-color: yellow;
    height:50px;
    width:200px;
    margin-bottom:20px;
    margin-left:20px;
}

.blue-inline {
    display:inline;
    background-color: blue;
}

        </style>
    </head>

    <body>
        <div class="yellow-block">Sup BigRedHacks!</div>

        <div class="blue-inline">inline</div>
        <div class="blue-inline">tags</div>

        <div class="yellow-block">
            <div class="blue-inline">inline</div>
            <div class="blue-inline">tags</div>
        </div>

    </body>
</html>
